html,
body {
  height: 100%;
}

body {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background-color: #808080;
  color: #fff;
}

button {
  background: cyan;
  color: black;
  padding: 0 45px;
  border: 2px solid black;
  height: 50px;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: cornflowerblue;
}
